html
    head
        title home
        link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
    body
        .container
            p home

        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.min.js')