html 
    head
        title register
    body 
        if user 
            p great job
            a(href="/logout") logout
        else 
            p please try again
            a(href="/login") try again
        