html
    head
        title home
        
    body
        .container
            p been here before?
            a(href="/login") login
            p first time?
            a(href="/register") register